
/* サイトのタイトル */

#siteTitle {
  font-size: 30pt;
  line-height: 1.2;
  /*background-color: #F7BE81;*/
  margin-bottom: 0;
  font-family: serif;
  /*padding: 5px 15px; /* 上下 左右 */
  /*border-bottom: solid 2px #FE9A2E;
  border-left: solid 7px #FE9A2E;*/
}

#catchcopy {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 0;
}

/* ここまで */

/* ページフッタ */

#pageHead {
  /*border-bottom: solid 1px #000000;*/
  margin-bottom: 30px;
}

#pageFoot {
  border-top: solid 1px #000000;
  /*border-bottom: solid 1px #000000;*/
  margin-top: 15px;
}

/* ここまで */

/* ページボディ */

body {
  background-color: rgb(209, 168, 145);
}

#pageAll {
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#pageBody {
  /*background-color: #FFCC66;
  border: solid 10px #FF0000;
  */
}

#pageBody:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodyMain {
  width: 720px;
  float: left;
  /*background-color: #66CCFF;*/
  margin-top: 0;
}

#pageBodySub {
  width: 220px;
  float: right;
  /*background-color: #99FF66;*/
}

/*
#newsTitle {
  background-color: #FCDD0F
}
*/

/* ここまで */

/* ナビ */
#pageHead .globalNavi {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 10px 0;
}

#pageHead .globalNavi ul {
  margin: 0;
  padding: 0;
}

/* clearfix */
#pageHead .globalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  list-style: none;
  width: 326px; /* 980 / 3 = 326 */
  float: left;
  border-left: solid 1px #CCCCCC;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child {
  border-left: none;
}

#pageHead .globalNavi ul li a {
  color: inherit; /* リンクの色? */
  text-decoration: none; /* リンクの文字の下線を消す */
  display: block;
  padding: 5px, 0;
}

/* リンクにマウスポインタが重なったときの設定 */
#pageHead .globalNavi ul li a:hover {
  background-color: rgb(209, 168, 145); /* 背景色変更 */
}

#pageBodySub .localNavi ul {
  margin-left: 0;
  padding-left: 0;
}

#pageBodySub .localNavi ul li {
  list-style: none;
}

#pageBodySub .localNavi ul li a {
  text-decoration: none;
  color: inherit;
}

#pageBodySub .localNavi ul li a:hover {
  background-color: rgb(209, 168, 145);
}

/* clearfix */
#pageBodySub .localNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

/* ナビここまで */

/* あれこれ */

a {
  text-decoration: none;
  color: rgb(95, 26, 1);
}

.chapter {
  font-size: 24pt;
  line-height: 1.2;
  /*border-bottom: solid 2px #FE9A2E;*/
  border-left: solid 8px rgb(175, 112, 83);
  padding-left: 10px;
  margin-top: 0;
}

.subContentsTitle {
  font-size: 18pt;
  line-height: 1.2;
  background-color: rgb(209, 168, 145);
  /*border-bottom: solid 1px #FE9A2E;*/
  /*border-left: solid 8px #FE9A2E;*/
  /*padding-left: 10px;*/
  margin-top: 0;
}

#newsContents {
  list-style: none;
  padding: 0;
}

.tekitou {
  font-size: 20pt;
  line-height: 1.2;
  color: #FF0000;
}

time {
  font-weight: bold;
  display: block;
}
